<app-mostrar-saldo [appSaldo]="saldo">
  <h3>Termos de uso</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore asperiores vitae nihil aperiam necessitatibus eaque voluptatum doloribus perferendis itaque, ratione vel repudiandae accusamus mollitia incidunt expedita porro autem iure!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore asperiores vitae nihil aperiam necessitatibus eaque voluptatum doloribus perferendis itaque, ratione vel repudiandae accusamus mollitia incidunt expedita porro autem iure!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore asperiores vitae nihil aperiam necessitatibus eaque voluptatum doloribus perferendis itaque, ratione vel repudiandae accusamus mollitia incidunt expedita porro autem iure!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore asperiores vitae nihil aperiam necessitatibus eaque voluptatum doloribus perferendis itaque, ratione vel repudiandae accusamus mollitia incidunt expedita porro autem iure!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore asperiores vitae nihil aperiam necessitatibus eaque voluptatum doloribus perferendis itaque, ratione vel repudiandae accusamus mollitia incidunt expedita porro autem iure!
  </p>

  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
  </ul>
</app-mostrar-saldo>

<button (click)="alterarSaldo(25)">25</button>
<button (click)="alterarSaldo(50)">+50</button>
<button (click)="alterarSaldo(100)">+100</button>
<button (click)="alterarSaldo(-25)">-25</button>
<button (click)="alterarSaldo(-50)">-50</button>
<button (click)="alterarSaldo(-100)">-100</button>
