<!-- <h2>Ng Style</h2>

<p
  [ngStyle]="{
    fontFamily: 'Ubuntu',
    color: corDoParagrafo
  }"
>
  Mudar de cor
</p>

<button (click)="mudarCorDoParagrafo('red')">Mudar para vermelho</button>
<button (click)="mudarCorDoParagrafo('green')">Mudar para verde</button>
<button (click)="mudarCorDoParagrafo('blue')">Mudar para azul</button>
<button (click)="mudarCorDoParagrafo('purple')">Mudar para roxo</button>

<hr>

<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
 -->


<card titulo="Oferta">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquam ea explicabo eaque, qui quaerat sint nostrum distinctio in quasi optio dignissimos! Eaque quis quidem, iste illo distinctio eveniet exercitationem?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta ad iure similique ab molestias culpa praesentium nisi magni, voluptatibus sint totam natus provident eum necessitatibus, unde mollitia expedita voluptatem. Repudiandae?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro iste saepe et, autem illo, laudantium est atque facere mollitia aliquam, commodi rerum nostrum? Officiis nemo velit nihil optio animi.
  </p>
  <ul>
    <li>Texto</li>
    <li>Texto</li>
    <li>Texto</li>
  </ul>
</card>

<card titulo="Oferta 2">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eum dolorem. Optio ut commodi odit voluptatibus sequi ipsam at sit placeat, iure esse voluptatum eveniet dolor nihil fuga maiores dignissimos?</p>
</card>
