<!-- <section class="products-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elden Ring</mat-card-title>
    </mat-card-header>
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/aGhopp3MHppi7kooGE2Dtt8C.png" alt="" mat-card-image>
    <mat-card-content>
      <mat-card-subtitle>Jogo de ação e aventura</mat-card-subtitle>

      <div class="flex-between">
        <strong>
          {{ 350 | currency:'BRL' }}
        </strong>

        <button mat-raised-button color="primary">Comprar</button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
 -->

<p>{{ 'eu gosto de programar' | capitalizar }}</p>
